body{
  background-color:rgb(73, 70, 234);
  padding : 10px 40px;
  font-family:'Segoe UI';
  color:#fff
}
h1{
  font-family:Arial;
  color : Red;
 text-align:center; 
 margin-bottom:20px
}
p{
  text-align:center;
  padding:0;
  list-style:none;
  margin-bottom:20px;
}
ul{
  text-align:center;
  list-style:none;
  padding:0;
  margin-bottom:20px
}
ul li{
  margin-bottom:8px
}
ul li a{
  color: rgb(201, 201, 226);
  text-decoration:none
}
ul li a:hover{
  text-decoration:underline
}
.webImg{
  width: 100%;
  max-width:300px;
  height:auto;
  display:block;
  margin:0 auto;
  margin-top:30px
}
.enter-button{
  background-color:rgb(209, 81, 81);
  color:rgb(201, 201, 226);
  border-radius:5px;
  border-style:none;
  padding:5px 10px;
  cursor:pointer;
  transition:background-color 0.3s ease;
}
.enter-button:hover{
  background-color:red
}